$screenSize: (
    lg: 1120px,
    md: 768px,
    sm: 500px
);

@mixin mq($breakpoint: md) {
    @media (width > map-get($screenSize, $breakpoint)) {
        @content;
    }
}

@mixin dark() {
    body[data-theme="dark"] &{
        @content;
    }
}

.works-hero {
    background-color: hsl(var(--secondary));
    text-align: center;

    

    &-text {
        max-width: 60ch;
        margin-inline: auto;

        @include mq() {
            font-size: var(--size-5);
        }


    }
    &-button{
        
        display: inline-block;

        margin-top: var(--size-12);
        padding: 1em;
        border-radius: var(--size-2);

        width: 100%;

        background-color: hsl(var(--accent));
        color:hsl(var(--back));

        font-weight: 600;


        @include dark(){
            background-color: transparent;
            border: 1px solid hsl(var(--text));
            color: hsl(var(--text));
        }

        @include mq(sm){
            width: 300px;
        }
    }
}


.works-projects {
    &-sort {

        display: block;

        padding: var(--size-4);
        border-radius: var(--size-2);

        width: 100%;

        font-size: var(--size-5);

        background-color: hsl(var(--secondary));
        color: hsl(var(--text));
        box-shadow: var(--shadow);



        @include dark() {
            background-color: transparent;
            border: 1px solid hsl(var(--text));
            color: hsl(var(--text));
        }

        @include mq(sm) {
            width: 200px;
            padding: var(--size-4);
            margin-inline-start: auto;
        }



        &:active {
            translate: 0 2px;
        }


    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--size-16);

        margin-top: var(--size-16);

        position: relative;

        &[data-latest="false"] {
            flex-direction: column-reverse;
        }
    }



}